__pycache__/__init__.cpython-38.pyc
PDE_solver/__pycache__/__init__.cpython-37.pyc
PDE_solver/__pycache__/__init__.cpython-38.pyc
PDE_solver/__pycache__/app.cpython-37.pyc
PDE_solver/__pycache__/app.cpython-38.pyc
tests/__pycache__/__init__.cpython-37.pyc
tests/__pycache__/__init__.cpython-38.pyc
tests/__pycache__/context.cpython-37.pyc
tests/__pycache__/context.cpython-38.pyc
tests/__pycache__/test_main.cpython-37.pyc
tests/__pycache__/test_main.cpython-38.pyc
